<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date Added</th>
      <th>Location</th>
      <th></th>
      <th>User</th>
      <th>Type</th>
      <th>PI/Lab/Supplier</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
  {% for s in samples.object_list %}
  <tr>
    <td>
      <a href={% url freezers.views.sample_detail s.id %}
         title="Click to view/edit/move sample">
        {{ s.name }}
      </a>
    </td>
    <td>{{ s.date_added|date:"SHORT_DATE_FORMAT" }}</td>
    <td class="location {{ s.box_width }} {{ s.cell_capacity }}"
      title="Click to toggle between alphanumeric and numeric cell ids">{{ s }}</td>
    <td>
      <a class="btn btn-mini"
        href="{% url freezers.views.show_box s.freezer.id s.address %}"
         title="View in box">
        <i class="icon-th"></i>
      </a>
    </td>
    <td>{{ s.user.get_full_name }}</td>
    <td>{{ s.sample_type }}</td>
    <td>
      <a href={% url freezers.views.supplier_detail s.pi_lab_supplier.id %}
         title="Show freezer box.">
        {{ s.pi_lab_supplier }}
      </a>
    </td>
    <td>
      <a class="btn btn-mini"
          href={% url freezers.views.edit_sample s.id %}
          title="Edit sample">
        <i class="icon-edit"></i>
      </a>
      <a class="btn btn-danger btn-mini"
        href="{% url freezers.views.remove_sample_from_index s.id %}?next={% firstof request.path '/freezers/samples/' %}{% if querystring %}{{ querystring }}{% endif %}"
          title="Remove sample">
        <i class="icon-trash icon-white"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
{% if samples.paginator.num_pages %}
  <ul>
    {% if samples.has_previous %}
      {% if querystring %}
        <li>
          <a href="?page={{ samples.previous_page_number }}{{ querystring }}">
            &#10229;
          </a>
        </li>
      {% else %}
        <li>
          <a href="?page={{ samples.previous_page_number }}">
            &#10229;
          </a>
        </li>
      {% endif %}
    {% else %}
        <li class="disabled">
          <a href="#">
            &#10229;
          </a>
        </li>
    {% endif %}

    <li class="active">
      <a href="#">
        Page {{ samples.number }} of {{ samples.paginator.num_pages }}.
      </a>
    </li>
    {% if samples.has_next %}
      {% if querystring %}
        <li>
          <a href="?page={{ samples.next_page_number }}{{ querystring }}">
            &#10230;
          </a>
        <li>
      {% else %}
        <li>
          <a href="?page={{ samples.next_page_number }}">
            &#10230;
          </a>
        </li>
      {% endif %}
    {% else %}
      <li class="disabled">
        <a href="#">
          &#10230;
        </a>
      <li>
    {% endif %}
  </ul>
{% endif %}
</div>
