{% extends "base.html" %}

{% block title %}Remodel Freezer{% endblock %}

{% block header %}Remodel Freezer{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    Remodel Freezer {{ fname }}:<br />
    <small>
      Shelf {{ sid }}
      {% if rid %}
        Rack {{ rid }}
        {% if did %}
          Drawer {{ did }}
          {% if bid %}
            Box {{ bid }}
          {% endif %}
        {% endif %}
      {% endif %}
    </small>
  </h1>
</div>
{% if msg %}
  <div class="alert alert-error">{{ msg }}</div>
{% endif %}
<form method="post" action="{{ request.get_full_path }}">
  {% csrf_token %}
  <fieldset>
  {% if not rid %}
    <div class="control-group">
      {% if form.each_shelf_should_have.errors %}
        <div class="alert alert-error">
          {{ form.each_shelf_should_have.errors }}
        </div>
      {% endif %}
      <label class="control-label" for="id_{{ form.each_shelf_should_have.name }}">
        {{ form.each_shelf_should_have.label }} 
      </label>
      <div class="controls">
        {{ form.each_shelf_should_have }}
        <span class="help-inline">{{ form.each_shelf_should_have.help_text }}</span>
      </div>
    </div>
  {% endif %}
  {% if not did %}
    <div class="control-group">
      {% if form.each_rack_should_have.errors %}
        <div class="alert alert-error">
          {{ form.each_rack_should_have.errors }}
        </div>
      {% endif %}
      <label class="control-label" for="id_{{ form.each_rack_should_have.name }}">
        {{ form.each_rack_should_have.label_tag }} 
      </label>
      <div class="controls">
        {{ form.each_rack_should_have }}
        <span class="help-inline">{{ form.each_rack_should_have.help_text }}</span>
      </div>
    </div>
  {% endif %}
  {% if not bid %}
    <div class="control-group">
      {% if form.each_drawer_should_have.errors %}
        <div class="alert alert-error">
          {{ form.each_drawer_should_have.errors }}
        </div>
      {% endif %}
      <label class="control-label" for="id_{{ form.each_drawer_should_have.name }}">
        {{ form.each_drawer_should_have.label_tag }} 
      </label>
      <div class="controls">
        {{ form.each_drawer_should_have }}
        <span class="help-inline">{{ form.each_drawer_should_have.help_text }}</span>
      </div>
    </div>
  {% endif %}
  <div class="control-group">
    {% if form.each_box_should_have.errors %}
      <div class="alert alert-error">
        {{ form.each_box_should_have.errors }}
      </div>
    {% endif %}
    <label class="control-label" for="id_{{ form.each_box_should_have.name }}">
      {{ form.each_box_should_have.label_tag }} 
    </label>
    <div class="controls">
      {{ form.each_box_should_have }}
      <span class="help-inline">{{ form.each_box_should_have.help_text }}</span>
    </div>
  </div>
  <div class="control-group">
    {% if form.the_box_width_should_be.errors %}
    <div class="alert alert-error">
      {{ form.the_box_width_should_be.errors }}
    </div>
    {% endif %}
    <label class="control-label" for="id_{{ form.the_box_width_should_be.name }}">
      {{ form.the_box_width_should_be.label_tag }} 
    </label>
    <div class="controls">
      {{ form.the_box_width_should_be }}
      <span class="help-inline">{{ form.the_box_width_should_be.help_text }}</span>
    </div>
  </div>
  <div class="controls">
    <p>&#42; Required field</p>
    <input class="btn btn-primary" type="submit" value="Edit" />
  </div>
</fieldset>
</form>
{% endblock %}

