{% extends "base.html" %}

{% block title %}Select Samples{% endblock %}
{% block stylesheets %}
<link type="text/css" href="/static/css/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
{% endblock %}

{% block header %}Select Samples to Move{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>
        Freezer {{ fname }} Shelf {{ sid }} Rack {{ rid }}
        Drawer {{ did }}<br />
        <small>
          Box {{ bid }}{% if boxname %}: {{ boxname }}{% endif %}
        </small>
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span8">
    <div class="alert alert-info">
      <p id="box-help-text">
        Select arbitrary samples in this box to move.
        Click a sample once to select it. Select as many samples as desired, then
        select the desired action. Click a selected sample to deselect it.
        Move selected samples by clicking on the <i class="icon-share"></i> icon,
        or remove them by clicking the <i class="icon-trash"></i> icon.
        <span class="label label-warning">Warning!</span> Samples will be moved in
        the order they are selected.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <a class="btn"
       href={% url freezers.views.select_sample_location fid %}
       title="Click here to select another location in this freezer">
       <i class="icon-align-justify"></i>
    </a>
    <a class="btn"
       href={% url freezers.views.move_box_select_freezer fid sid rid did bid %}
       title="Click here to move this box to another location">
      <i class="icon-arrow-right"></i>
    </a>
    <a class="btn"
       href={% url freezers.views.select_box_location fid sid rid did bid %}
       title="Click here to add new samples, or view current samples, in this box">
      <i class="icon-plus"></i>
    </a>
    <a class="btn"
       href={% url freezers.views.rearrange_samples_within_box fid sid rid did bid %}
       title="Click here to move samples around within this box">
      <i class="icon-move"></i>
    </a>
    <a class="btn disabled"
       href={% url freezers.views.select_samples_in_box fid sid rid did bid %}
       title="Click here to select then move samples">
      <i class="icon-share"></i>
    </a>
  </div>
</div>
<div class="row">
  <div class="span5 move-box-form">
    <a id="trashcan" class="btn btn-danger btn-large" 
       href="/freezers/remove-selected-samples/?next={{ request.get_full_path }}"
       title="Click to remove selected samples">
      <i class="icon-trash icon-white"></i>
    </a>
    <a id="move-selected" class="hidden btn btn-success btn-large"
       href="/freezers/move-selected/?next={{ request.get_full_path }}"
       title="Move Selected Samples">
      <i class="icon-share icon-white"></i>
    </a>
  </div>
</div>

{% if msg %}
  <div class="alert alert-error">{{ msg }}</div>
{% endif %}
<div class="row">
  <div class="span5">
    <div id="boxDisplay" class="add-sample-form">
      {% for rw in occupied %}
        <div>
          {% for col in rw %}
            {% if col.is_occupied %}
              <a href={{ col.link }}
                 title="Click to select sample
    name: {{ col.name }}
    aliquot: {{ col.aliquot }}
in cell {{ col.cell_location_name }}">
                <canvas id="canvas{{ col.index }}" height="30" width="30"
                        class="{{ col.occupied_class }} samplelocation"></canvas></a>
            {% else %}
                <canvas id="canvas{{ col.index }}" height="30" width="30"
                        class="{{ col.occupied_class }} samplelocation"></canvas>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="span7">
    {% include "freezers/base_box_sample_table.html" with samples=samples %}
  </div>
</div>
<script src="/static/js/drawSampleLocations.js"></script>
<script type="text/javascript">
var slist = {{ slo }};
var this_sample = {{ curr_samp }};
drawSampleLocations(slist, this_sample);
$('.location').click(function() {
  toggleLocation();
  toggleTitle();
});
$(function() {
  $('.occupied_sample').selectable({
    stop: function() {
      var sample_link = $(this).parent('a').attr('href');
      var sample_id = sample_link.split('/')[3];
      console.log(sample_id);
      var sample_title = $(this).parent('a').attr('title');
      var ctx = $(this)[0].getContext("2d");
      var href = $('a#move-selected').attr('href');
      var rref = $('a#trashcan').attr('href');
      console.log(href);
      var cell_id = sample_title.split(' ').pop(-1);
      if (sample_title.match('Selected sample in ')) {
        console.log("Already selected");
        var new_href = href.replace('&sample=' + sample_id, '');
        var new_rref = rref.replace('&sample=' + sample_id, '');
        $('a#move-selected').attr('href', new_href);
        $('a#trashcan').attr('href', new_rref);
        var new_title = "Click to select sample in cell " + cell_id;
        $(this).parent('a').attr('title', new_title);
        unhighlightUnselected(ctx);
        if (!$('a#move-selected').attr('href').match('sample=')) {
          $('#move-selected').addClass('hidden');
      }
      } else {
        if ($('#move-selected').hasClass('hidden')) {
          $('#move-selected').removeClass('hidden');
        }
        href += ('&sample=' + sample_id);
        rref += ('&sample=' + sample_id);
        $('a#move-selected').attr('href', href);
        $('a#trashcan').attr('href', rref);
        highlightSelected(ctx);
        var new_title = "Selected sample in " + sample_title.split(' ').pop(-1);
        $(this).parent('a').attr('title', new_title);
      }
    }
  });
});
$('.samplelocation').mouseover(function() { 
  var sampleid = $(this).attr('id').replace('canvas', ''); 
  var tableid = "#row" + sampleid; 
  var row = $(tableid); 
  if (row.length > 0) { 
    row.addClass('hover'); 
  } 
});
$('.samplelocation').mouseout(function() { 
  var sampleid = $(this).attr('id').replace('canvas', ''); 
  var tableid = "#row" + sampleid; 
  var row = $(tableid); 
  if (row.length > 0) { 
    row.removeClass('hover'); 
  } 
});
</script>
{% endblock %}
