{% extends "base.html" %}

{% block title %}Supplier Information{% endblock %}

{% block header %}Supplier{% endblock %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Contact</dt><dd>{{ supp.first_name }} {{ supp.last_name }}</dd>
  <dt>Contact Email</dt><dd>{{ supp.email }}</dd>
  <dt>PI/Lab/Supplier</dt><dd>{{ supp.pi_lab_supplier }}</dd>
  <dt>Organization</dt><dd>{{ supp.organization }}</dd>
</dl>
<p>
  <a href={% url freezers.views.edit_supplier supp.id %}>
    Edit Supplier Information
  </a>
</p>
{% endblock %}
